<div class="container">
  <div class="row">
    <p
      class="text-center44 text-succes"
      style="text-align: justify; margin-top: 4rem; margin-bottom: 4rem"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil quam perferendis
      laborum, corporis ipsa modi similique provident? Quidem, tenetur est? Non mollitia amet
      accusantium nostrum corporis incidunt obcaecati facere. In soluta accusamus, commodi quia rem
      voluptas, fugiat quod molestiae voluptatum sit libero ad enim eum nihil quibusdam distinctio
      debitis non culpa recusandae doloremque dignissimos. Architecto consequatur accusamus dolores
      earum. Corrupti quae ea recusandae doloremque mollitia quisquam natus esse aliquid qui nisi
      libero accusamus distinctio quos fugiat, quas exercitationem aspernatur illum veritatis
      consectetur excepturi reprehenderit sit commodi. Nisi, voluptas atque? Neque explicabo
      temporibus recusandae, minima sunt maiores voluptate nisi? Consequuntur eligendi fuga fugit
      dolore autem eaque iste quas accusantium, libero hic tempore, quo quod, illum ipsa nemo in
      sequi? Dolores? Nemo voluptatibus eos earum nihil deleniti omnis eum obcaecati blanditiis
      ratione, debitis dicta officia similique voluptatem provident enim consectetur praesentium
      cupiditate aspernatur recusandae est? Nostrum pariatur vitae amet voluptate iure. Dolores
      quibusdam incidunt, illum molestias pariatur amet quod officiis delectus corporis doloribus
      quisquam illo modi? Hic omnis accusamus repudiandae sunt beatae veniam perspiciatis delectus
      aliquid ratione, distinctio soluta facilis ducimus? Possimus commodi facere laborum veritatis,
      totam vel? Voluptates vero ea odit aliquam dolorem at, voluptatibus ducimus expedita commodi
      consectetur accusantium tempora nesciunt ipsa, soluta aliquid pariatur magnam fuga
      consequuntur cumque. Aperiam eum dicta tenetur? Voluptate fuga amet magni voluptas assumenda
      quaerat quasi reiciendis ad eius cum, cumque voluptates eum pariatur minus reprehenderit est
      obcaecati, voluptatum, iste voluptatibus? Veniam, repellendus minus. Commodi, sed minima.
      Nulla perspiciatis amet saepe omnis pariatur rerum, inventore ad eligendi possimus
      dignissimos? Ea beatae quisquam rerum veniam quasi tempore, quae adipisci quaerat illo
      molestias possimus non mollitia. Distinctio sequi labore possimus ex eum repellat earum
      quibusdam quis, fuga ea ad corporis officia temporibus facere, voluptatum quam beatae porro
      quisquam itaque animi. Aut, dolorem! Soluta omnis voluptatem tenetur? Rem, dicta voluptates
      provident fugiat minus officia, voluptatibus, adipisci hic aliquid similique nam esse vel iure
      aliquam possimus assumenda consequatur quaerat corrupti? Debitis repellat, voluptatum iste
      quidem a maiores eius! Explicabo illum excepturi nostrum consectetur, placeat atque
      praesentium! Esse consequatur itaque aut ex ratione totam amet facilis eum. Mollitia modi quod
      ullam exercitationem quidem minima, dignissimos ut similique aperiam accusamus. Iusto aut odio
      voluptatem voluptate minus cumque, in repellat consequatur amet earum reprehenderit aliquam
      blanditiis quibusdam, non iure excepturi enim laborum aperiam. Soluta, quam assumenda?
      Voluptate repellat repudiandae veritatis asperiores! Ipsum dolorem eaque aliquam quia
      similique nisi perspiciatis ratione repellendus quas mollitia consectetur, asperiores odit
      tenetur cupiditate. Ex maiores commodi, facere modi fugiat repellendus. Placeat ipsam nisi
      maiores expedita architecto? Totam dolorum aliquid, veritatis culpa qui ipsum modi expedita?
      Facere, soluta impedit quasi earum modi dignissimos a, ad magnam odio error at debitis vero
      placeat deleniti consequuntur, vitae nobis aspernatur!
    </p>
  </div>
</div>
