<!-- MAIN FILE -->
<!-- div.row>div.col-md-8.mx-auto>div.card.shadow>div.card-body>h1.card-title.text-center{Hoş geldiniz}+p.card-text.text-primary+p.text-danger{Login, Register veya Admin} -->
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="card-title text-center">Hoş geldiniz</h1>
        <p class="card-text text-primary"></p>
        <p class="text-danger">Login, Register veya Admin paneli görebilir.</p>
      </div>
    </div>
  </div>
</div>
