

    <!-- REGISTER FILE -->
    <h2 class="mb-4">Kayıt Ol Sayfası</h2>

    <!-- backend'ten oluşacak hataları alert ile gösterelim -->
    <% if(errors && errors.length>0) {%>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <!-- error.msg  -->
      <ul class="mb-1">
        <% errors.forEach(function(error) { %>
        <li><%= error%></li>
        <%}) %>
      </ul>
 <button  
         type="button" 
         class="btn-close"   
         data-bs-dismiss="alert"
         aria-label="Close"></button>
      <%} %>
    </div>

    <!-- formData: { name: '', email: '', password: '', confirmPassword: '' }, -->
    <!-- FORM (novalidate)-->
    <form action="/register" id="registerForm" method="POST" class="card  p-5 shadow-sm" >
     
      <!-- NAME -->
      <div class="mb-3">
        <label for="name" class="form-label">Ad Soyisim</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          title="isim alanı"
          minlength="3"
          placeholder="İsminizi giriniz."
          value="<%= formData.name %>"
        />
        <div class="invalid-feedback text-danger">Lütfen geçerli bir isim giriniz (en az 3 karakter).</div>
      </div>

      <!-- EMAIL -->
      <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          title="email alanı"
          minlength="8"
          required
          placeholder="ornek@domain.com"
          value="<%= formData.email %>"
        />
        <div class="invalid-feedback">Lütfen geçerli bir e-posta giriniz.</div>
      </div>

      <!-- PASSWORD -->
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          title="Şifre Alanı"
          minlength="6"
          required
          placeholder="Şifrenizi giriniz."
        />
        <div class="invalid-feedback">Lütfen şifrenizi giriniz (en az 6 karakter).</div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Şifre Tekrarı</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          title="Şifre Tekrar Alanı"
          minlength="6"
          required
          placeholder="Şifrenizi Tekrar giriniz."
        />
        <div class="invalid-feedback text-danger">Lütfen şifrenizi tekrar giriniz (en az 6 karakter).</div>
      </div>

      <!-- BUTTON -->
      <div class="mt-2 mb-2">
        <button type="reset" class="btn btn-danger me-3">Temizle</button>
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
      </div>
    </form>
  </div>
</div>
