:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --font-family: 'Arial, sans-serif';
  --background-color: #f0f0f0;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

body {
}
